/* Hosted on raw.githack.com */

@import url('https://ctalvio.github.io/Monochromic/default_style.css');
@import url('https://ctalvio.github.io/Monochromic/improve-performance_style.css');
@import url('https://ctalvio.github.io/Monochromic/bottom-progress_style.css');
@import url('https://ctalvio.github.io/Monochromic/improve-performance_style.css');
@import url('https://ctalvio.github.io/Monochromic/bottom-progress_style.css');
@import url('https://ctalvio.github.io/Monochromic/customcolor_style.css');:root {--accent: #ffffff;}
:root {--rounding: 5px;}
.headerSyncButton { display: none; }
.progress {
  background: white !important;
  border-radius: var(--rounding);
  border: 1px solid rgba(255, 255, 255);
}
.progress::-webkit-progress-bar {
  background: white !important;
  border-radius: var(--rounding);
  border: 0px solid rgba(255, 255, 255);
}
.progress::-moz-progress-bar {
  background-color: rgba(255,255,255);
  border-radius: var(--rounding);
}
.progress::-webkit-progress-value {
  background-color: rgba(255,255,255);
  border-radius: var(--rounding);
}
.ratingbutton-icon-withrating {
  color: #c33 !important;
}

.playstatebutton-icon-played {
  color: #4169e1 !important;
}

.itemProgressBar {
    height: 5px;
    background: rgba(255,255,255,0.5);
}

.playbackProgress>div, .itemProgressBarForeground {
    background-color: rgb(255,255,255) !important;
}

.transcodingProgress>div {
    background-color: rgb(255,255,255) !important;
}

.cardOverlayButtonIcon {
    width: 1em!important;
}

.countIndicator {
    border-radius: 20px !important;
}
.playedIndicator {
    border-radius: 20px !important;
}

@media (max-width: 70em) {
.cardOverlayButtonIcon {
    background-color: rgb(0 0 0 / 0%) !important;
}
.cardOverlayButton {
    padding: 1px;
}
}
@media (max-width: 32em) {
.detailPageWrapperContainer {
    margin-top: -2em !important;
}
}
#indexPage, #moviesPage, #tvRecommendedPage, #encodingSettingsPage, #mediaLibraryPage, #dlnaSettingsPage, #pluginsPage, #musicRecommendedPage {
  margin-top: 60px;
}
.emby-tabs-slider {
    display: none;
}
.backdropImage {
  filter: blur(15px) saturate(150%) brightness(20%);
}
.pageTitleWithDefaultLogo {
  background-image: url('https://serv.live/images/jellyfin.png') !important;
}
span.material-icons.cast {
  display: none;
}
body, h1, h2, h3, h4 {
  font-family: 'Courier New', monospace;
}
.mainDrawer {
  width: 252px !important;
  backdrop-filter: blur(20px) saturate(4.5) contrast(0.5);
  -webkit-backdrop-filter: blur(20px) saturate(4.5) contrast(0.5);
}
.padded-right-withalphapicker {
    padding-right: 2.5%;
}
